/* GoogleFontsの読み込み */
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;500;700&family=Noto+Sans+JP:wght@400;700&display=swap');

/* ページ基本 */
.block_page_base {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: unset;
}

/* 見出しh2 */
h2 {
  font-family: 'Kaisei Opti', serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  display: block;
  position: relative;
  margin-bottom: 32px;
  text-align: center;
}

h2::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -24px;
  width: 120px;
  height: 4px;
  background-color: #FF6884;
}

/* 背景画像上のh2_白背景 */
.h2-overlay h2 {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 16px 24px 60px;
  border-radius: 16px;
  margin-bottom: 0;
}

.h2-overlay h2::after {
  bottom: 24px;
}

/* 見出しh3 */
h3 {
  font-family: 'Kaisei Opti', serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  padding-left: 0px;
  display: block;
  position: relative;
}

/* 見出しh3_下線表現 */
h3::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -12px;
  width: 60px;
  height: 2px;
  background-color: #FF6884;
}

/* wd3表現_ボックスレイアウト（シャドウ付き） */
/* wd3表現_ボックスレイアウト_全体領域 */
.box_wrap {
  padding: 24px 0px 0px;
}

/* 見出しブロック直後のbox_wrapは上余白を半分に */
.heading_level_block + .html_block .box_wrap {
  padding-top: 4px;
}

/* wd3表現_ボックスレイアウト_各ボックス */
.box_area {
  padding: 0px 24px 48px;
  margin-top: 0px;
  border-radius: 16px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.10);
  background-color: rgba(255, 255, 255, 0.9);
}

/* wd3表現_ボックスレイアウト_見出しh3 */
.box_area h3 {
  padding: 48px 0px 0px;
  margin-bottom: 12px;
  text-align: center;
}

/* wd3表現_ボックスレイアウト_見出しh4 */
.box_area h4 {
  padding: 48px 0px 0px;
  text-align: left;
  font-size: 21px;
}

/* wd3表現_ボックスレイアウト_見出しh5 */
.box_area h5 {
  padding: 24px 0px 0px;
  text-align: left;
  font-size: 18px;
}

/* wd3表現_ボックスレイアウト_テキスト */
.box_area p {
  padding: 8px 0px 16px;
  text-align: left;
  font-size: 16px;
}

/* wd3表現_ボックスレイアウト_画像 */
.box_area img {
  width: 100%;
  padding: 24px 0 0 0;
}

/* wd3表現_ボックスレイアウト_リスト */
.box_area > ul {
  max-width: 480px;
  margin: 32px auto 0;
}

/* wd3表現_ボックスレイアウト_定義リスト */
.box_area > dl {
  margin-top: 32px;
}

/* wd3表現_ボックスレイアウト_１カラム */
.box_column1 {
  display: block;
}

/* wd3表現_ボックスレイアウト_２カラム */
.box_column2 {
  display: grid;
  gap: 48px 16px;
  grid-template-columns: 1fr 1fr;
}

/* wd3表現_ボックスレイアウト_２カラム_各ボックス */
.box_column2_section {
  display: block;
  width: 100%;
}

/* リストのデザイン */
.block_page_base li {
  background-size: 16px 11px;
  background-position: 0px 8px;
  background-image: url(https://staging.image.osiro.it/pass/media_libraries/876/images/original/icon_List.png?1661830018);
  padding-left: 32px;
  margin-bottom: 12px;
  color: #333;
  font-weight: bold;
}

/* リストのデザイン_太字解除 */
.li-normal li { font-weight: normal; }

/* リストのデザイン_最後のリストの余白無しに */
.block_page_base li:last-of-type {
  margin-bottom: 0px;
}

/* スケジュール_タイトル */
.block_page_base dt {
  position: relative;
  text-align: center;
  padding: 0px 0px 16px 0px;
  margin-bottom: 4px;
  color: #333;
  font-family: 'Kaisei Opti', serif;
  font-size: 18px;
  font-weight: bold;
}

/* スケジュール_タイトル_下線表現 */
.block_page_base dt::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 8px;
  width: 60px;
  height: 2px;
  background-color: #FF6884;
}

/* スケジュール_説明 */
.block_page_base dd {
  text-align: center;
  margin-bottom: 16px;
  padding: 0px 16px 16px;
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

/* 入会の流れ */
.block_page_base .join_us {
  text-align: center;
}

/* 入会の流れ_矢印 */
.block_page_base .join_us img {
  display: block;
  width: 22px !important;
  padding: 0 !important;
  margin: -16px auto 16px;
}

/* Q&A_タイトル */
.block_page_base .qa dt {
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Noto Sans JP', sans-serif;
  background-image: url(https://staging.image.osiro.it/pass/media_libraries/878/images/original/QA_Q.png?1661834127);
  background-size: 25px 28px;
  background-position: 0px 16px;
  padding: 16px 0px 16px 40px;
  border-top: none;
  border-right: none;
}

/* Q&A_タイトル_見出しh3の下線非表示 */
.block_page_base .qa dt::after {
  display: none;
}

/* Q&A_説明 */
.block_page_base .qa dd {
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  background-image: url(https://staging.image.osiro.it/pass/media_libraries/879/images/original/QA_A.png?1661834172);
  background-size: 25px 25px;
  background-position: 0px 2px;
  padding: 0px 0px 16px 40px;
  margin-bottom: 24px;
  border-bottom: 2px solid #FF6884;
}

/* 各ブロックエリアの余白調整 */
.block_page_base .block_element > div:not(.block_element-attachment_fixed) {
  padding: 0px 24px 16px;
}

/* 見出しブロック_h2の上スペース */
.block_page_base .heading_level_block > div:not(.block_element-attachment_fixed) {
  padding-top: 20px;
}

/* chromeの薄い線解消 */
.block_page_base .block_element {
  margin-top: -0.5px;
  margin-bottom: -0.5px;
}

/* image_block 画像サイズ */
.image_block img {
  max-width: 800px;
}

/* 固定フッターボタン */
.fixed_footer_block-btn {
  background-color: rgba(255, 166, 77, 0.95);
  color: rgb(255, 255, 255);
}

/* スペーサー */
.space_block {
  display: block;
  width: 100%;
}
.space_block-lg { height: 54px; }
.space_block-md { height: 48px; }

